* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style du header de l'application */

header {
    height: 10%;
}

.logo {
    text-align: right;
}

.navbar {
    padding: 7px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

.navbar li a {
    display: block;
    padding: 15px;
    color: rgb(152, 70, 70);
    border-radius: 25px;
    text-decoration: none;
    background-color: #cba15d;
}

/* style du corp de l'application */
main {
    height: 80%
}

.home-page {
    background-image: url(image/fond-home.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.home-page-container {
    display: flex;
    flex-direction: row;
}

.title-container {
    width: 75%;
    height: 100%;
    /* background: #106881; */
}

.slogan-container {
    width: 25%;
    /* background: aqua; */
}

.logo {

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #5dbacb; */
}

.slogan-content {
    /* background: #5dbacb; */
    width: 100%;
    height: 50%;
    padding: 40px;
}

.icone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(image/Patisserie_de_Lolotte-removebg-preview.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 40%;
    width: 80%;
    height: 80%;
}

h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 70px;
    color: rgb(85, 85, 189);
}

.home-content {
    /* border: 2px solid red; */
    height: 630px;
    margin-top: 200px;
    display: column;
}

.home-content img {
    margin-top: 80px;
}

.home-content p {
    text-align: center;
}

.decouverte {
    /* border: 2px solid rgb(0, 255, 0); */
    height: 30%;
    font-size: 40px;
}

.Fondation {
    margin-top: 35px;
    /* border: 2px solid rgb(255, 0, 230); */
    height: 20%;
    font-size: 40px;
}

.logo-home {
    /* border: 2px solid blue; */
    color: #000;
}

/* style du footer de l'application */

footer {
    height: 15%;
    background: #cba15d;
    text-align: center;
}

.apropos {
    background-image: url(image/background-about.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100%;
}

.about-main {
    display: flex;
    height: 90%;
    padding: 2rem;
    width: 100%;

}

.photo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.photo-section h4 {
    font-size: 25px;
    height: 15%;
}

.image-container {
    margin-top: 20px;
    background: #cba15d;
    padding: 4px 4px 1.5px 4px;
}

.photo-section p {
    margin-top: 15px;
    font-size: 20px;
    height: 10%;
}

.section-text {
    width: 50%;
    padding: 7rem 15rem;
    font-size: 30px;
    text-align: center;
}

.section-text p {
    margin-top: 80px;
}

.about-footer {
    height: 35px;
}

/* Style de la page Patisserie */

.cake-body {
    height: 100%;
    width: 100%;
    background-image: url(image/background-cake.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cake-main {
    background: #4b4b4b47;
    display: flex;
    height: 100%;
    width: 100%;
}

.cake-section-vide {
    height: auto;
    width: 33%;
}

.cake-section-text {
    height: 100%;
    width: 41%;
}

.cake-title {
    margin: 100px;
    color: #6214d6;
}

.cake-text {
    text-align: center;
    font-size: 30px;
    padding: 50px;
}

.cake-section-image {
    height: auto;
    width: 26%;
    margin-left: -10px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.cookies-body {
    /* background-color: grey; */
    background-image: url(image/background-cookies.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cookies-text-grid {
    display: flex;
    margin-top: 20px;
    margin-right: 150px;
}

.cookies-text {
    /* border: 2px solid red; */
    width: 800px;
    font-size: 40px;
    place-self: center;
    text-align: center;
}

.cookies-grid {
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1FR 1FR 1FR;
    place-items: center;
    width: 800px;
    height: 650px;
    justify-self: flex-end;
    margin-right: 300px;
    margin-left: 300px;
}

.cookies-grid img {
    height: 140px;
    width: 150px
}

.galery-body {
    width: 100%;
    height: 100%;
    /* background: #2a8d44; */
    background-image: url(image/background-galerie.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.galery-body main {

    width: 100%;
}

.galery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 100%;

    justify-self: flex-end;
    margin-right: 10px;
    margin-left: 100px;
    padding: 80px;
    flex-wrap: wrap;
}

.galery-grid div {
    display: flex;

}

.galery-grid div img {
    margin-bottom: 40px;
    height: 280px;
    width: 400px;
}

.contact-body {
    background: #f3b7d5;
    
}

main {
    display: flex;
}

.left {
    margin: 100px;
}

.right {
    margin: 100px;

}

.contact-horaires {
    font-size: 25px;
    text-align: center;
    width: 400px;
    margin: 100px;
}

.contact-reseaux {
    font-size: 25px;
    text-align: center;
}

.contact-nous {
    font-size: 25px;
    text-align: center;
    
}

.contact-formulaire {
    align-items: center;
}

.contact-information {
    align-items: center;
    margin: 20px;
    place-items: anchor-center;
}

input {
    width: 90%;
    margin: 10px;
}

.contact-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-group label {
    width: 200px;
    font-weight: bold;
    padding-right: 15px;
    width: 325px;
}

textarea {
    width: 240px;
    height: 100px;
}

.contact-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}